// Variabelen
$primary-color: #F7ECDE;
$secondary-color: #DBBC8E;
$margin: 10px;

// Body
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $primary-color; // Gebruik van variabele
}

// Elementen met achtergrondkleur
.element-bg {
    background-color: $primary-color; // Gebruik van variabele
    margin: $margin;
    padding: $margin;
    border: 1px solid #ccc;
    border-radius: 5px;
}

// Header, Nav, Main, Article, Section, Footer
header,
nav,
article,
section,
footer {
    @extend .element-bg; // Extending van gedeelde stijlen
}

// Header, Nav, Footer
header,
nav,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

// Navigation Menu
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

nav li {
    margin: 0;
    padding: 0;
}

// Main Content
main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: $margin; // Gebruik van variabele
    min-height: 100px;
    margin: $margin;
    padding: 0;
}

article,
section {
    margin: $margin;
    padding: $margin;
    background-color: $primary-color; // Gebruik van variabele
    width: calc(100% - #{$margin * 2}); // Operation
}

// Make articles with class .g1 span the full width
article.g1,
section.g1 {
    grid-column: span 2;
    background-color: $primary-color; // Gebruik van variabele
    width: calc(100% - #{$margin * 2}); // Operation
}

// Media Query for Smaller Screens
@media screen and (max-width: 768px) {

    article,
    section {
        width: calc(100% - #{$margin * 2}); // Operation
    }

    article.g1,
    section.g1 {
        grid-column: span 1;
    }
}

// Footer
.footer,
header {
    background-color: $secondary-color; // Gebruik van variabele
    text-align: center;
    height: 50px;
}

// Navigation
nav {
    background-color: #D9D9D9;
    border-radius: 30px;
}

// Verberg Element
.g1 {
    visibility: hidden;
}

// Toon Element
main .g1 {
    visibility: visible;
}

// Nieuwe stijlen om ruimte tussen menu-items te garanderen
nav a {
    padding: $margin;
}

// Namespace voor afbeeldingen
$img-margin: 10px;

article {
    display: flex;
    align-items: center;

    img {
        margin-left: $img-margin;
        max-width: 100%;
    }
}

// Voeg deze regel toe aan je bestaande stylesheet
article img,
section img {
    max-width: 100%;
    height: auto;
}